Source: xmotd
Section: x11
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 9), dh-autoreconf, libxaw7-dev, libxmu-dev, libxpm-dev, libxt-dev, xutils-dev
Homepage: http://www.ee.ryerson.ca/~elf/xmotd/
Vcs-Git: git://github.com/porridge/xmotd.git
Vcs-Browser: https://github.com/porridge/xmotd

Package: xmotd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a message of the day browser for X
 Xmotd is a message-of-the-day browser for X11 (with additional
 sysvnews-like support for dumb terminals).  It displays a customizable
 message box which displays each message-of-the-day until the user has
 read them all, and then creates a stamp-file.
