Source: xmotd
Section: x11
Priority: optional
Maintainer: Marcin Owsiany <porridge@debian.org>
Standards-Version: 3.5.5
Build-Depends: debhelper (>= 3), libxaw-dev, xlibs-dev, xutils

Package: xmotd
Architecture: any
Depends: ${shlibs:Depends}
Description: a message of the day browser for X
 Xmotd is a message-of-the-day browser for X11 (with additional
 sysvnews-like support for dumb terminals).  It displays a customizable
 message box which displays each message-of-the-day until the user has
 read them all, and then creates a stamp-file.
