#!/usr/bin/make -f
# xmotd package rules file

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
 CCOPTIONS = -O2
endif

-include /usr/share/topgit/tg2quilt.mk
/usr/share/topgit/tg2quilt.mk:

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf xmkmf -- -a

override_dh_auto_build:
	$(MAKE) CDEBUGFLAGS="-g -Wall" CCOPTIONS="$(CCOPTIONS)"
	ln -sf XMotd XMotd.ad
	
override_dh_auto_clean:
	rm -f XMotd.ad
	dh_auto_clean

override_dh_auto_install:
	$(MAKE) install DESTDIR=debian/xmotd BINDIR=/usr/bin
	install -d debian/xmotd/usr/share/applications
	install -d debian/xmotd/usr/share/pixmaps
	install -m 0644 debian/xmotd.desktop debian/xmotd/usr/share/applications
	install -m 0644 debian/xmotd.xpm     debian/xmotd/usr/share/pixmaps
