#!/usr/bin/make -f
# xmotd package rules file

#export DH_VERBOSE=1
export DH_COMPAT=3

build: build-stamp
build-stamp:
	dh_testdir
	xmkmf
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean build-stamp Makefile XMotd.ad

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	ln -sf XMotd XMotd.ad
	$(MAKE) install DESTDIR=debian/xmotd BINDIR=/usr/bin
	rm -f XMotd.ad

binary-indep:
# We have no architecture-independent packages here.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs README
	dh_installman xmotd.8
	dh_installmenu
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
